* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Permanent Marker', cursive;
}

.subtitleCurrency {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.currency {
    font-family: 'Kaushan Script', cursive;
}

.wrapReal {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.label {
    text-align: center;
}

.flag {
    width: 5rem;
    height: 4rem;
    border-radius: 1rem;
}