* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container { /* Strategy to center all the page. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-family: 'Permanent Marker', cursive;
}

.subtitleCurrency {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.subtitle span, .currency {
    font-family: 'Kaushan Script', cursive;
}

.section-1 {
    border: 1px solid darkblue;
    border-radius: 1rem;
    padding: 1rem;
}

.label {
    text-align: center;
}

.wrapReal {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flag {
    width: 4rem;
    height: 3rem;
    border-radius: 1rem;
}

#brazilianReal {
    background-color: antiquewhite;
    padding: 0.65rem 1rem;
    border-radius: 1rem;
}

input::placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.btnConvert {
    display: block;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 0.65rem 2rem;
    border-radius: 1rem;
}

.section-2 {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}