* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#403C35, #0D0D0D);
}

.hide {
    display: none;
}

.container { /* Strategy to center all the page. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 2rem 0;
}

.header {
    margin-bottom: 4rem;
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #D9B70D;
}

.source-p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    color: #0D0D0D;
    margin-bottom: 4rem;
}

.source-a {
    color: #A69337;
    font-size: 1.2rem;
    font-style: italic;
}

.subtitleCurrency {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.subtitle {
    color: #0D0D0D;
    font-weight: bold;
}

.subtitle span, .currency {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
    color: #D9D9D9;
}

.date {
    margin-bottom: 1rem;
    text-align: center;
    color: #D9D9D9;
    font-weight: bold;
}

.date span {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
    color: #D9B70D;
}

.section-1 {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #0D0D0D;
    box-shadow: 2px 2px 5px #D9B70D;
}

.label {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #D9B70D;
}

.wrapReal {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.flag {
    width: 4rem;
    height: 3rem;
    border-radius: 1rem;
}

#brazilianReal {
    background-color: #D9D9D9;
    padding: 0.65rem 1rem;
    border-radius: 1rem;
    text-align: center;
    color: #0D0D0D;
    font-weight: bold;
}

input::placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.btnConvert {
    display: block;
    margin: 0 auto;
    background-color: #D9B70D;
    color: #0D0D0D;
    font-weight: bold;
    padding: 0.65rem 2rem;
    border-radius: 1rem;
    width: 10rem;
}

.section-2 {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
}

.section-2 p {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #D9B70D;
}

.wrapAllFlagsResults {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.wrapFlagResult {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.result {
    background-color: #D9D9D9;
    padding: 0.65rem 1.5rem;
    border-radius: 1rem;
    flex: 1;
    height: 3rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #0D0D0D;
}

.btnReset {
    display: block;
    margin: 0 auto;
    background-color: #D9B70D;
    color: #0D0D0D;
    font-weight: bold;
    padding: 0.65rem 2rem;
    border-radius: 1rem;
    width: 10rem;
    box-shadow: 2px 2px 5px #0D0D0D;
}

.footerNameJob {
    text-align: center;
    font-size: 1.2rem;
    color: #D9D9D9;
    font-weight: bold;
}

.footerNameJob a {
    color: #D9B70D;
    font-weight: bold;
}

.footerNameJob a:hover {
    color: #A69337;
    font-weight: bold;
}
